<h1>CAPS LOCK EMAIL</h1>

<hr>

<ul>
  <h4>INBOX</h4>
    {{#each email in model}}
      <li>
      {{#link-to 'email' email}}SUBJECT: {{email.subject}} <span class="sender-inbox">SENDER: {{email.sender}}</span> {{/link-to}}
      </li>
    {{/each}}
</ul>
